@font-face {
  font-family: Proxima;
  font-weight: 400;
  src: url("../fonts/ProximaNova-Regular.ttf");
}

@font-face {
  font-family: Proxima;
  font-weight: 600;
  src: url("../fonts/ProximaNova-Semibold.ttf");
}

@font-face {
  font-family: Proxima;
  font-weight: 700;
  src: url("../fonts/ProximaNova-Bold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #16171d;
  overflow-x: hidden;

  font-family: "Proxima";
}
.container {
  width: 1217px;
  margin: 0 auto;
}

.instruction {
  margin-top: 62px;

  &__flex {
    display: flex;
    align-items: center;

    .img {
      margin-right: 10px;

      img {
        width: 377.28px;
      }
    }

    .content {
      margin-right: 100px;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        background-image: url("../img/grid.png");
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }

      h2 {
        color: #e4e4f1;
        font-weight: 600;
        font-size: 64px;
        line-height: 70.4px;
        max-width: 774px;
        margin: 0;
        font-family: "Proxima";

        b {
          color: #8c8fe6;
        }
      }

      p {
        font-weight: 400;
        font-size: 20px;
        color: #a2a1bd;
        line-height: 31px;
        max-width: 470px;
        margin: 32px 0 64px;
      }

      .button_text_flex {
        display: flex;
        align-items: center;

        p {
          margin: 0 0 0 32px;
          color: #e6e4f1;
          font-weight: 400;
          font-size: 16px;
          line-height: 24.8px;
        }
      }
    }
  }

  &__care {
    background: #191a22;
    box-shadow: 0px -34px 210px #13141b;
    border-radius: 24px;
    padding: 40px 80px 40px 40px;
    top: -20px;
    width: 100%;
    z-index: 3;
    position: relative;
    overflow: hidden;

    img {
      vertical-align: middle;
      max-width: 35px;
    }

    &::after {
      content: "";
      background-image: url("../img/instruction__care_back.png");
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-size: cover;
    }

    p {
      font-weight: 400;
      font-size: 32px;
      color: #e4e4f1;
      line-height: 40px;
      margin: 0;
      max-width: 1010px;
    }
  }
}

.button {
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  color: #fff;
  background: transparent;
  padding: 22px 32px;
  border: 1px solid #ffc412;
  border-radius: 12px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
  position: relative;
}

.button:hover {
  background: #ffc412;
  color: black;
}

.exchange {
  margin-top: 100px;

  h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    color: #e4e4f1;
    margin: 0 0 30px;
    vertical-align: middle;

    .mouse_icon {
      vertical-align: middle;
      animation: zoom-in 2s infinite linear;
      width: 38px;
    }

    &::before {
      content: "";
      background-image: url("../img/grid.png");
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 200px;
    }

    b {
      color: #8c8fe6;
    }
  }

  p {
    font-weight: 400;
    font-size: 20px;
    color: #a2a1bd;
    line-height: 24.8px;
    max-width: 950px;
    margin: 12px 0 60px;
  }

  &__flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__block {
    background: rgba(37, 39, 47, 0.6);
    backdrop-filter: blur(80px);
    border-radius: 24px;
    max-width: 410px;
    max-height: 544px;
    padding: 30px 35px 55px 30px;
    box-shadow: -13px 4px 70px rgba(0, 0, 0, 0.25);

    border-top: 1px solid #595972;
    border-left: 50% solid #595972;
    &__middle {
      position: relative;
      z-index: 2;
      right: 10px;
    }

    &__last {
      position: relative;
      z-index: 3;
      right: 20px;
    }

    img {
      border-radius: 16px;
      width: 100%;
    }

    h6 {
      font-weight: 600;
      font-size: 28px;
      color: #e4e4f1;
      line-height: 33.6px;
      margin: 40px 0 16px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      color: #a2a1bd;
      max-width: 400px;
    }
  }
}

.support {
  margin-top: 70px;
  font-family: "Mulish", sans-serif;

  .yellow {
    background: linear-gradient(90.47deg, #ffdb5c 4.2%, #edc63d 75.54%);
    transform: rotate(10deg);
    z-index: -1;
  }

  .violet {
    background: linear-gradient(90.47deg, #8c8fe6 4.2%, #676acf 75.54%);
    transform: rotate(-10deg);
    z-index: -2;
    bottom: 100px;
  }

  p {
    border-right: 1px solid #25243e;
    border-width: 100%;
    margin: 0 10px;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    padding: 0 30px;
    line-height: 44.48px;
    letter-spacing: 1%;
    color: #16171d;
  }

  .yellow,
  .violet {
    width: 150%;
    height: 100px;
    position: relative;
    left: -25%;

    p {
      display: inline-block;
      line-height: 105px;
    }
  }
}

.benefits {
  margin-top: -30px;

  &__flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__block {
    background: rgba(37, 39, 47, 0.6);
    backdrop-filter: blur(60px);
    border-radius: 24px;
    padding: 40px 38px;
    width: 49%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-height: 140px;
    border-top: 1px solid #595972;

    img {
      max-width: 70px;
      max-height: 70px;
      object-fit: contain;
    }

    p {
      font-weight: 600;
      font-size: 28px;
      color: #e4e4f1;
      line-height: 33.6px;
      margin-left: 20px;
    }
  }

  .benefits__block_first {
    p {
      margin-left: 10px;
    }

    img {
      max-width: 85px;
      max-height: 85px;
    }
  }
}

.reviews {
  margin-top: 120px;
  position: relative;

  img {
    vertical-align: middle;
    width: 60px;
  }

  &::after {
    content: "";
    background-image: url("../img/grid_reviews.png");
    width: 70%;
    height: 100%;
    position: absolute;
    left: -150px;
    top: -100px;
    z-index: -1;

    @media screen and (max-width: 414px) {
      width: 100%;
      left: 0;
    }
  }

  &__flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__content {
    &::before {
      content: "";
      background-image: url("../img/reivews_text_back.png");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      left: -125px;
      top: 50px;
      z-index: -1;

      @media screen and (max-width: 414px) {
        top: 120px;
        left: -100px;
        background-size: contain;
      }
    }

    h5 {
      color: #e4e4f1;
      font-weight: 600;
      font-size: 48px;
      line-height: 57.6px;
      margin: 0;
      max-width: 440px;

      svg {
        width: 48px;
        height: 48px;
        position: relative;
        top: 10px;
      }
    }

    .reviews__content_flex {
      display: flex;
      align-items: center;
      margin: 48px 0 185px;

      p {
        font-weight: 400;
        font-size: 16px;
        color: #a2a1bd;
        line-height: 24.8px;
      }

      b {
        color: #fefdff;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
      }

      .rating {
        margin-right: 48px;
        b {
          color: #7c80dc;
        }
      }
    }
  }

  &__carousel {
    margin-left: 60px;
    min-width: 800px;
    max-width: 800px;

    @media screen and (max-width: 1024px) {
      min-width: 100%;
      max-width: 100%;
    }

    .arrow_left {
      margin: 0 60px 0 40px;
    }

    .arrow_left,
    .arrow_right {
      cursor: pointer;
      border: none;
      background: transparent;
    }

    .navigation {
      display: flex;
      align-items: center;
    }

    .range {
      width: 580px;
      height: 2px;
      background: rgba(181, 182, 193, 0.12);
      position: relative;
      margin: 0 0 0 60px;

      span {
        position: absolute;
        background: #ffc412;
        width: 175px;
        height: 2px;
        left: 0;
        top: 0;
        transition: 0.3s;
      }
    }

    &__block {
      background: rgba(37, 39, 47, 0.6);
      backdrop-filter: blur(41px);
      border-radius: 24px;
      max-width: 367px;
      margin: 65px 0 0 0;
      padding: 30px;
      border-top: 1px solid #595972;
      transition: 0.5s;

      p {
        font-weight: 400;
        font-size: 20px;
        color: #a2a1bd;
        line-height: 31px;
        max-width: 400px;
        margin: 0 0 52px;
      }

      .block_flex {
        display: flex;
        align-items: flex-start;
        background: #16171d;
        border-radius: 12px;
        padding: 20px;

        h6 {
          margin: 0 0 4px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24.8px;
          color: #fefdff;
          font-family: "Mulish", sans-serif;
        }

        .name {
          margin-left: 20px;
        }
      }
    }

    &__flex {
    }
  }
}

.reliability {
  margin-top: 120px;

  h5 {
    font-weight: 600;
    font-size: 48px;

    line-height: 57.6px;
    color: #e4e4f1;
    margin: 0 0 40px;

    img {
      vertical-align: middle;
      max-width: 50px;
    }
  }

  &__block {
    background: rgba(27, 29, 35, 0.9);
    backdrop-filter: blur(41px);
    border-radius: 24px;
    padding: 40px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      background-image: url("../img/reliability_top.png");
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      z-index: -1;
    }

    h6 {
      line-height: 33.6px;
      color: #fefdff;
      font-weight: 600;
      font-size: 28px;
      margin: 0;
      max-width: 284px;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      margin: 0;
      line-height: 31px;
      color: #a2a1bd;
      max-width: 771px;
    }
  }

  .middle {
    position: relative;

    &::after {
      content: "";
      background-image: url("../img/reliability_middle.png");
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  .bottom {
    position: relative;

    &::after {
      content: "";
      background-image: url("../img/reliability_bottom.png");
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.questions {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__head {
    max-width: 480px;
    margin-right: 150px;
    h5 {
      font-weight: 600;
      font-size: 48px;
      line-height: 57.6px;
      color: #e4e4f1;
      margin: 0 0 32px;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 31px;
      color: #a2a1bd;
      margin: 0;
    }
  }

  &__answers {
    position: relative;
    margin-top: 20px;

    &::after {
      content: url("../img/questions_back.png");
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-repeat: no-repeat;
      width: 721px;
      height: 331px;
      left: -319px;
      top: -335px;
    }

    .close {
      width: 24px;
      height: 24px;
      position: absolute;

      position: absolute;
      right: 20px;
      top: 20px;

      .first {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2px;
        height: 50%;
        background: #ffdb5c;
        transition: 0.3s;
      }

      .second {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        height: 50%;
        background: #ffdb5c;
        width: 2px;
      }
    }

    .answers_flex {
      transition: 0.3s;

      overflow-y: hidden;
      position: relative;
      padding: 20px;
      cursor: pointer;
      border-radius: 24px;
      margin: 0 0 60px;

      p {
        font-weight: 600;
        font-size: 22px;
        color: #e4e4f1;
        line-height: 26.4px;
        max-width: 512px;
        margin: 0;
        padding: 0 0 20px;

        @media screen and (max-width: 400px) {
          font-size: 20px;
          margin-right: 10px;
        }

        @media screen and (max-width: 380px) {
          font-size: 18px;
          margin-right: 10px;
        }
      }
    }

    .answers_flex.open {
      background-color: #8c8fe6;

      .minus {
        display: none;
      }

      .close {
        .second {
          background: #16171d;
        }

        .first {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }

      p {
        color: #16171d;
        font-size: 20px;
        line-height: 31px;
        font-weight: 400;
      }

      .q {
        font-weight: 600;
      }
    }

    p {
      font-weight: 600;
      font-size: 22px;
      color: #e4e4f1;
      line-height: 26.4px;
      max-width: 512px;
      margin: 0;
    }
    svg {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
  }
}

.about {
  margin-top: 50px;

  h6 {
    font-weight: 600;
    font-size: 48px;
    color: #e4e4f1;
    line-height: 57.6px;
    margin: 0 0 25px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    color: #a2a1bd;
    line-height: 25.2px;
    margin: 0 0 20px;
    font-family: "Inter", sans-serif;
  }
}

.footer {
  margin-top: 100px;

  &__top {
    border-top: 1px solid #62617a;
    border-bottom: 1px solid #62617a;

    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #e4e4f1;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      margin: 32px 0;

      p {
        margin: 0;
        color: #ffc412;
      }

      a {
        text-decoration: none;
        color: #e4e4f1;
        transition: 0.3s;
      }

      a:hover {
        color: #ffc412;
      }
    }
  }
}

.footer__basic {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 32px 0;

  .footer__logo {
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 32px;
    }

    span {
      margin: 0 0 16px;
    }
  }

  .footer__block {
    color: #fff;
    h6 {
      margin: 0 0 20px;

      font-weight: 600;
      font-size: 20px;
      line-height: 31px;
    }

    a {
      font-weight: 400;
      font-size: 16px;
      opacity: 0.75;
      color: #fff;
      display: block;
      text-decoration: none;
      margin-bottom: 12px;
      transition: 0.3s;
    }

    a:hover {
      color: #ffc412;
    }
  }

  .products {
    max-width: 186px;
  }
}

.footer__bottom {
  border-top: 1px solid #62617a;
  p {
    margin: 20px 0;
    font-weight: 400;
    font-size: 12px;
    color: #6c707c;
    line-height: 18.6px;
  }
}

.footer_mobile {
  display: none;
}

.button_mobile {
  display: none;
}

@media screen and (max-width: 1216px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .exchange__flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .benefits__flex {
    justify-content: center;
  }
  .benefits__block {
    width: 95%;
  }

  .reviews__flex {
    flex-direction: column;
    justify-content: center;

    .reviews__content {
      margin-bottom: 50px;

      h5 {
        max-width: none;
      }

      .reviews__content_flex {
        margin: 30px 0 30px;
      }
    }
  }

  .reliability {
    h5 {
      max-width: none;
    }
    .reliability__block {
      max-width: 390px;
      flex-direction: column;
      margin-bottom: 16px;
      margin: 0 auto 16px;
    }

    .reliability__block::after {
      background-size: 100% 100%;
      background-image: url(../img/reliability_top_mobile.png);
    }
  }

  .reviews__carousel {
    min-width: 100%;
    max-width: 100%;
  }

  .questions {
    flex-direction: column;
    align-items: center;

    .questions__head {
      margin: 0 0 50px 20px;
    }
  }

  .footer {
    display: none;
  }

  .footer_mobile {
    display: block;

    .footer__top_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    span {
      width: 100%;
      height: 1px;
      display: block;
      background-color: #62617a;
    }

    .footer__link {
      margin: 24px 0;
      color: #ffc412;
      line-height: 30px;
      font-size: 24px;

      a {
        color: #e4e4f1;
        margin-bottom: 24px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
      }

      a:hover {
        color: #ffc412;
      }
    }

    .footer__basic {
      flex-wrap: wrap;
      margin: 24px 0 0;

      .footer__block {
        width: 49%;
        margin: 0 0 24px;

        h6 {
          line-height: 27.9px;
          font-size: 18px;
          margin: 0 0 16px;
        }

        p {
          line-height: 18.2px;
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .instruction {
    &__flex {
      display: block;

      .img {
        display: none;
      }
      .content {
        max-width: 393px;
        margin: 0;

        h2 {
          font-size: 32px;
          line-height: 35.2px;
        }

        p {
          font-size: 18px;
          line-height: 27.9px;
          max-width: 349px;
          margin: 20px 0 48px;
        }

        .button_text_flex {
          flex-direction: column-reverse;
          align-items: flex-start;
          margin-bottom: 80px;
          p {
            margin: 0 0 20px;
          }

          .button {
            width: 100%;
          }
        }
      }
    }

    .instruction__care {
      width: 100%;
      padding: 20px;
      p {
        font-size: 22px;
        max-width: 350px;
        line-height: 29.7px;
      }

      &::after {
        content: "";
        background-image: url("../img/instruction_mobile_back.png");
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background-size: cover;
      }
    }
  }

  .exchange {
    margin-top: 40px;

    h3 {
      font-size: 28px;
      line-height: 33.6px;
      max-width: 248px;
      margin-bottom: 30px;
    }

    &__flex {
      flex-direction: column;

      .exchange__block {
        backdrop-filter: none;
        h6 {
          font-size: 22px;
          line-height: 26.4px;
          margin: 24px 0 12px;
          max-width: 250px;
        }

        img {
          width: 100%;
        }

        p {
          font-size: 16px;
          line-height: 24.8px;
          margin: 0 0 28px;
        }

        &__middle {
          right: 0;
          bottom: 30px;
        }

        &__last {
          right: 0;
          bottom: 60px;
        }
      }
    }
  }

  .support {
    margin-top: -125px;
    position: relative;
    overflow-x: hidden;
    padding: 225px 0 0;
    width: 100%;
    overflow-y: hidden;

    .yellow,
    .violet {
      width: 135%;
      height: 70px;
      left: -10%;

      position: absolute;
      left: 50%;
      top: 50%;

      p {
        font-size: 22px;
        line-height: 69px;
      }
    }

    .yellow {
      transform: translate(-50%, -50%) rotate(20deg);
    }

    .violet {
      transform: translate(-50%, -50%) rotate(-20deg);
    }
  }
  .benefits {
    img {
      width: 64px;
      height: 64px;
    }

    .benefits__block {
      padding: 20px;
      width: 100%;
      backdrop-filter: none;

      p {
        font-size: 22px;
        line-height: 26.4px;
        margin: 0 0 0 15px;
      }
    }
  }

  .reviews {
    margin-top: 40px;

    .button {
      width: 100%;
      margin-top: 32px;
    }

    .range {
      width: 100%;
      height: 2px;
      background: rgba(181, 182, 193, 0.12);
      position: relative;
      margin: 0;

      span {
        position: absolute;
        background: #ffc412;
        width: 106px;
        height: 2px;
        left: 0;
        top: 0;
        transition: 0.3s;
      }
    }

    .reviews__flex {
      flex-direction: column;
      .range {
        display: none;
      }

      h5 {
        font-size: 28px;
        line-height: 33.6px;
        max-width: 360px;
      }

      button {
        display: none;
      }

      .reviews__content::before {
        top: -60px;
        z-index: -1;
      }

      .reviews__content_flex {
        margin: 32px 0 48px;

        p {
          line-height: 24.8px;
          font-size: 16px;
          margin: 0 0 8px;
        }

        b {
          line-height: 22px;
          font-size: 22px;
        }
      }
    }

    .reviews__carousel {
      margin: 0;
    }

    .reviews__carousel__block {
      margin: 0 20px 32px 0;

      p {
        font-size: 16px;
        line-height: 24.8px;
        margin: 0 0 125px;
      }
    }
  }

  .reliability {
    margin-top: 80px;
    h5 {
      font-size: 28px;
      line-height: 33.6px;
      max-width: 310px;
    }

    .reliability__block {
      max-width: 390px;
      flex-direction: column;
      margin-bottom: 16px;

      &::after {
        background-size: 100% 100%;
        background-image: url("../img/reliability_top_mobile.png");
      }

      h6 {
        font-size: 22px;
        line-height: 26.4px;
      }

      p {
        font-size: 16px;
        line-height: 24.8px;
        max-width: 350px;
      }
    }

    .middle::after {
      background-image: url("../img/reliability_middle_mobile.png");
    }

    .bottom::after {
      background-image: url("../img/reliability_bottom_mobile.png");
    }
  }

  .questions {
    margin-top: 40px;
    flex-direction: column;
    overflow-x: hidden;

    &__head {
      margin: 0 0 50px;
      h5 {
        font-size: 28px;
        line-height: 33.6px;
        margin-bottom: 12px;
      }

      p {
        font-size: 18px;
        line-height: 27.9px;
      }
    }

    &__answers {
      margin: 0;

      &::after {
        content: url("../img/questions_back_mobile.png");

        left: 0px;
        top: -185px;
        width: 100%;
        height: 100%;
      }

      p {
        font-size: 18px;
        line-height: 21.6px;
        max-width: 306px;
      }

      .answers-flex {
        margin: 0 20px;
        font-size: 18px;

        p {
          font-size: 18px;
        }
      }
    }
  }

  .about {
    margin-top: 20px;

    h6 {
      line-height: 33.6px;
      font-size: 28px;
      margin-bottom: 24px;
    }

    p {
      line-height: 21.6px;
    }
  }

  .answers_flex {
    padding: 20px;
  }

  .answers_flex.open {
    p {
      font-size: 16px;
      line-height: 24.8px;
    }

    .q {
      font-size: 18px;
      line-height: 21.6px;
    }
  }
}

[data-aos="bounce-in"] {
  opacity: 0;
  transform: rotate(5deg) scaleY(0.9) translateY(25px);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: rotate(0deg) scaleY(1) translateY(0);
  }
}

@keyframes swing {
  0% {
    transform: rotate(20deg) scale(0.9);
  }

  50% {
    transform: rotate(-20deg) scale(1);
  }

  100% {
    transform: rotate(20deg) scale(0.9);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.swiper-slide {
  &.swiper-slide-prev {
    .reviews__carousel__block {
      opacity: 0;
    }
  }
}

/* Make it a marquee */
.marquee {
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;

  .content {
    animation: marquee 30s linear infinite;
    position: absolute;
    left: 0;
  }
}

.marquee:hover {
  animation-play-state: paused;
}

.marquee_reverse {
  animation: marquee-reverse 30s linear infinite;

  .content {
    right: 0;
    left: auto;
  }
}

/* Make it move */
@keyframes marquee {
  0% {
    left: 0%;
  }
  50% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes marquee-reverse {
  0% {
    right: 0%;
  }
  50% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}
